.tablinks
{
    padding: 40;
    border-radius: 15px;
    
}

.tab

{
    margin-left: auto;
    margin-right: auto;
}
body
{
    background-color: #1E233B;
    color: white;
    font-size: 28px;
    font-family: 'Big Shoulders Inline Display', cursive;
     text-align:center;
}

.elevatorSpeech
{   
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display: inline-block;
     width: 1000px;
}

.headShot
{
    border-radius: 15px;
    border: 8px solid black;
    width: 40%;
   height: 40%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.resume {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.resume, 
  ul.topnav li {float: none;}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
div.dragonClick
{
margin-top: 150px;

}

#dragon
{
   border-radius: 25px;
  margin-left: auto;
      margin-righ: auto;
    height: 30%; 
    object-fit: contain; 
    padding: 10px;
  flex: 50%;
}

.flex-container
{
display: flex;
flex-direction: row;

}
#river
{
  
    border-radius: 25px;
    margin-left: auto;
      margin-righ: auto;
    height: 30%; 
    object-fit: contain; 
    padding: 10px;
  flex: 50%;
}



/* REMOVE THIS, USE YOUR OWN  */


/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
#socialStuff
{
  
margin-top: 10px;
}

#linkedIn
{

height: 5%;
width: 5%;
margin-bottom: 50px;
}

#unitConvert
{
margin-top: 35px;
  margin-right: 125px;
    margin-left: auto;
  padding: 30px;
  background-color: #241847;
    color: white;
    font-size: 32px;
    font-family: 'Big Shoulders Inline Display', cursive;
     text-align:center;
}
#circle
{
  margin-top: 35px;
  margin-right: auto;
    margin-left:125px;
  padding: 30px;
  background-color: #241847;
    color: white;
    font-size: 32px;
    font-family: 'Big Shoulders Inline Display', cursive;
     text-align:center;
}

#circle:hover:not(.active) {background-color:#7F83D9;}
#unitConvert:hover:not(.active) {background-color:#7F83D9;}

.formlabel{
        

       text-align: right;
    }

    .error {
        color: red;
        padding-left: 5px;
    }
    
    #diameter
    {
     margin-left: 0px;
    }
    
    .form-all, .form-label-left
    {
      margin-left: auto;
        margin-right: auto;
    }